body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.user-card {
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: #74cfbf;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.form-container {
  margin-top: 20px;
}

.login-btn {
  width: 100%;
  background: #33ccff;
  color: white;
}

.login-btn:focus {
  box-shadow: none;
  outline: 0px;
}

.login-container {
  padding: 0 2rem;
}

.fas {
  color: white;
}
.form-title {
  color: #fff;
}
